body {
  font-family: Arial, sans-serif;
  color: #f0f0f0;
  background-color: #070133;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

nav {
    padding: 1rem;
    background-color: #1d184a;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav:hover {
    background-color: #2c2560;
}

.facts{
    text-align: right;
    margin-top: 20px;
}